body {
  background-color: #FFB03B;
}
.idea-box {
  background-color: #E52B50;
  padding: 50px;
  font-style: italic;
  font-family: inherit;
  font-weight: lighter;
}
h1 {
  text-align: center;
  color: #8DB600;
  font-family: fantasy;
  font-size: 90px;
}
a {
  color: purple;
  font-weight: normal;
  font-size: 20px;
  border: 6px #FF7E00;
  padding: 5px;
}

h2 {
  color: #8DB600;
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
